* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
}

.logo {
    font-size: 36px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}



.main {
    text-align: center;
    padding: 50px 0;
}

.character-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    width: 150px;
    height: 600px;
    background-color: #444;
    margin: 0 10px;
    position: relative;
}

.play-button {
    background-color: #e6007e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.description {
    max-width: 800px;
    margin: 20px auto;
    font-size: 18px;
}

.how-to-play {
    text-align: center;
    padding: 50px;
}

.steps {
    display: flex;
    justify-content: center;
}

.step button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #e6007e;
    border: none;
    color: #fff;
    cursor: pointer;
}

.social-media {
    text-align: center;
    padding: 50px;
}

.social-media .links a {
    margin: 0 50px;
    color: #ffffff;
    text-decoration: none;
}

footer {
    background-color: #000000;
    padding: 20px;
}

.faq{
    color: #ffffff;
    width: 900px;
}

.info-box {
    background-color: #1b1b1b; /* Dark background color */
    color: #f1f1f1; /* Light text color */
    padding: 17px; /* Space inside the box */
    border-radius: 40px; /* Rounded corners */
    font-family: Arial, sans-serif; /* Font style */
    max-width: 500px; /* Optional: Limit the width of the box */
    box-shadow: 0 4px 8px rgba(8, 36, 194, 0.733); /* Optional: Adds some shadow for depth */
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }

  .player-counter {
    background-color: rgba(0, 0, 0, 0.8); /* Saydam bir siyah arka plan */
    color: rgb(204, 0, 255); /* Yazı rengini beyaz yapar */
    padding: 9px 9px; /* İç kenar boşlukları */
    border-radius: 5px; /* Köşeleri yuvarlak yapar */
    font-family: Arial, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Yazı tipi */
    display: inline-block, Bold; /* Blok içeriği, genişliği kadar */
  }
  
  .count {
    color: #00ffff; /* Sayaç kısmının rengini maviye ayarlar */
  }

  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }  